<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDoD-r1aOYAnSVWYTc0NuNA75QW0S9C1G4</string>
	<key>GCM_SENDER_ID</key>
	<string>1067052164595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duskkun.practice</string>
	<key>PROJECT_ID</key>
	<string>recipe-roll-90894</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-roll-90894.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067052164595:ios:8f5392ba96d7e7f3221e86</string>
</dict>
</plist>